body {
    margin: 0px;
    display: flex;
    width: 100vw;
    overflow-x: hidden
}

#promo-nav-background {
    background-color: #ECECEC;
    display: flex;
    justify-content: center;
    width: 100vw
}

#promo-nav-content {
    width: 100%;
    max-width: 1600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav-promo {
    display: flex;
    align-items: center;
}

#nav-promo p {
    margin-right: .5rem;
}

#nav-profile-links {
    display: flex;
}

#nav-profile-links a {
    margin: 0px 5px 0px 5px
}