body {
    margin: 0px;
    display: flex;
    width: 100vw;
    overflow-x: hidden;
    background-color: #F8F7F7;
}

:root {
    --off-white: #F6F2F2;
    --light-grey: #ECECEC;
    --grey: #717171;
    --black: #242424
}

#promo-nav-background {
    background-color: #ECECEC;
    display: flex;
    justify-content: center;
    width: 100vw
}

#promo-nav-content {
    width: 100%;
    max-width: 1600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav-promo {
    display: flex;
    align-items: center;
    color: var(--grey);
    text-decoration: none;
}

#nav-promo p {
    margin-right: .5rem;
}

#nav-promo a {
    color: var(--grey);
}

#nav-profile-links {
    display: flex;
}

#nav-profile-links a {
    color: var(--black);
}

.link-container {
    display: flex;
    flex-direction: row;
}

.link-container img {
    max-width: 2rem;
}

#nav-profile-links a {
    margin-left: 3%;
    margin-right: 3%;
    text-decoration: none
}